@model WebApp.Models.EmployeeViewModel

<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-5 col-md-offset-5">
                <input id="formButton" type="submit" value="Удалить" class="btn btn-default" />
                <input id="formButtonClose" type="submit" value="Отмена" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<script>
    $("#formButton").on("click", function (e) {
        e.preventDefault();
        $.ajax({
            url: "@Url.Action("Delete"+ "/" + Model.Id)",
            type: "POST",
         data: $('form').serialize(),
            datatype: "json",
            success: function (result) {
            $("#dialogContent").html(result);
            }
        });
    });
    $("#formButtonClose").click(function(){
        $("#dialogContent").dialog().remove();
    });
</script>